@model IEnumerable<ORTSocial.Models.Plan>

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="~/css/plan.css" />
</head>

<div class="d-flex flex-column">
    <h1 class="text-center margint-5 mb-5">Planes</h1>
</div>

<div class="row d-flex align-items-center justify-content-center vh-80 mt-100">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card bg-light mb-3 border-dark">
                <div class="card-header">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </div>
                <div class="card-body text-dark">
                    <p>
                        <span class="label">@Html.DisplayNameFor(model => model.Costo)</span>
                    $@Html.DisplayFor(modelItem => item.Costo)</p>
                    <p>
                        <span class="label">@Html.DisplayNameFor(model => model.Cartilla)</span>
                    @Html.DisplayFor(modelItem => item.Cartilla.Nombre)</p>
                </div>
            </div>
        </div>
    }
</div>

