html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: rgb(250, 250, 250);
}

.mt-40 {
    margin-top: 40px;
}

.mr-200 {
    margin-right: 200px;
}

.ml-200 {
    margin-left: 200px;
}

.pr-350 {
    padding-right: 350px;
}

.pl-350 {
    padding-left: 350px;
}

.mt-100 {
    margin-top: 100px;
}

.margint-5 {
    margin-top: 5px;
}

