@model ORTSocial.Models.Socio

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mt-5">Crear Socio</h1>

<hr />
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Dni" class="control-label"></label>
                    <input asp-for="Dni" class="form-control" />
                    <span asp-validation-for="Dni" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" />
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" />
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Provincia" class="control-label"></label>
                    <input asp-for="Provincia" class="form-control" />
                    <span asp-validation-for="Provincia" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="Ciudad" class="control-label"></label>
                    <input asp-for="Ciudad" class="form-control" />
                    <span asp-validation-for="Ciudad" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="IdPlan" class="control-label"></label>
                    <select asp-for="IdPlan" class ="form-control" asp-items="ViewBag.IdPlan"></select>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="IdGrupoFamiliar" class="control-label"></label>
                    <select asp-for="IdGrupoFamiliar" class ="form-control" asp-items="ViewBag.IdGrupoFamiliar">
                        <option value="0" selected>Crear Nuevo Grupo Familiar</option>
                    </select>
                </div>
                <div class="form-group mb-3" id="nuevoGrupoFamiliarDiv">
                    <label for="nuevoGrupoFamiliarNombre">Nombre del Nuevo Grupo Familiar:</label>
                    <input type="text" id="nuevoGrupoFamiliarNombre" name="nuevoGrupoFamiliarNombre" class="form-control" />
                </div>
                <div class="d-flex justify-content-between mt-40">
                    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
                    <input type="submit" value="Crear" class="btn btn-primary rounded" />
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.getElementById('IdGrupoFamiliar').addEventListener('change', function () {
        var nuevoGrupoFamiliarDiv = document.getElementById('nuevoGrupoFamiliarDiv');
        nuevoGrupoFamiliarDiv.style.display = (this.value === '0') ? 'block' : 'none';
    });
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
