@model ORTSocial.Models.TurnoMedico

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-center mt-5">Crear Turno Medico</h1>

<hr />

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mb-3">
                    <label asp-for="Fecha" class="control-label"></label>
                    <input asp-for="Fecha" class="form-control" />
                    <span asp-validation-for="Fecha" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="IdSocio" class="control-label">Dni Socio</label>
                    <select asp-for="IdSocio" class="form-control" asp-items="ViewBag.IdSocio">
                        <option value="0">Elija un Socio</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="IdMedico" class="control-label">Especialidad</label>
                    <select asp-for="IdMedico" class ="form-control" asp-items="ViewBag.IdMedico"></select>
                </div>
                <div class="d-flex justify-content-between mt-40">
                    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
                    <input type="submit" value="Crear" class="btn btn-primary rounded" />
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById("IdSocio").addEventListener("change", function () {
        var selectedSocioId = this.value;
        $.ajax({
            url: "/TurnoMedico/GetMedicosBySocio",
            type: "GET",
            data: { idSocio: selectedSocioId },
            success: function (data) {
                $("#IdMedico").empty();
                $.each(data, function (index, item) {
                    $("#IdMedico").append($('<option>', {
                        value: item.value,
                        text: item.especialidad
                    }));
                });
            }
        });
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
